{% extends 'main/main.html' %}
{% load static %}
{% block contant %}
<style>
    .small-td {
        width: 15%;
    }

    .th {
        background-color: #6CC3DA !important;
        color: white !important;
        font-weight: bold !important;
        font-size: 18px !important;
    }

    .customtable {
        font-weight: bold !important;
        font-size: large;
    }

    .price-input {
        padding: 3px !important;
        background-color: #E4F4F8;
        border-color: #E4F4F8;
        font-size: larger;
    }

    .table-responsive {
        height: 600px;
        overflow-y: auto;
        direction: ltr;
    }

    .search-container {
        display: inline-block;
    }

    .table-responsive table {
        direction: rtl;
    }

    .form-control-sm {
        border-color: white !important;
    }

    .btn-arrow {
        background-color: #FF8A00;
        color: white;
        width: 1%;
        height: 1%;
        padding: 1%;
    }

    .form-group {
        margin-bottom: 20px;
        /* فاصله بین فیلدها */
    }
</style>
<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4">
        <span class="text-muted fw-light">رسپی/</span> افزودن رسپی
    </h4>
    <div class="card mb-4" style="background-color: #EEF9FB; margin: 20px; box-shadow: none;">
        <div class="card-header" style="margin-inline: 60px;"></div>
        <div class="card-body">
            <div class="card mb-4" style="margin-inline: 60px; box-shadow: none;">
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        <div class="row" style="align-items: center;">
                            <div class="col-md-1 form-group text-center">
                                <span>آیدی:</span>
                            </div>
                            <div class="col-md-3 form-group" style="margin-right: -30px;">
                                {{ recipe_form.recipe_id }}
                            </div>
                            <div class="col-md-1 form-group text-center">
                                <span style="margin-left: -30px;">نام غذا:</span>
                            </div>
                            <div class="col-md-7 form-group">
                                {{ recipe_form.name }}
                            </div>
                        </div>
                        <hr>
                        <div id="ingredient-forms">
                            {{ formset.management_form }}
                            <div class="row">
                                {% for form in formset %}
                                <div class="col-md-3 ingredient-form form-group">
                                    <select name="ingredients-{{ forloop.counter0 }}-stuff_name" class="form-control" id="id_ingredients-{{ forloop.counter0 }}-stuff_name">
                                        <option value="" disabled selected>انتخاب کنید</option>
                                        {% for category in categories %}
                                            <optgroup label="{{ category.cat_name }}">
                                                {% for stuff in category.stuffs.all %}
                                                    <option value="{{ stuff.id }}">{{ stuff.stuff_name }}</option>
                                                {% endfor %}
                                            </optgroup>
                                        {% endfor %}
                                    </select>
                                    <input type="number" name="ingredients-{{ forloop.counter0 }}-amount" class="form-control mt-1" placeholder="مقدار" step="any" id="id_ingredients-{{ forloop.counter0 }}-amount">
                                </div>
                                {% if forloop.counter|divisibleby:4 and not forloop.last %}
                            </div>
                            <div class="row">
                                {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                        <button type="button" id="add-ingredient" class="btn btn-secondary">افزودن ماده اولیه</button>
                        <div class="card-footer text-muted">
                            {{ form.errors }}
                            <a href="#" onclick="window.history.go(-1); return false;"
                                class="btn btn-outline-secondary">انصراف</a>
                            <button type="submit" class="btn btn-primary">ذخیره</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block pagejs %}

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>
    $(document).ready(function () {
        let form_idx = {{ formset.total_form_count }};

    $('#add-ingredient').click(function () {
        let new_form = $('#ingredient-forms .ingredient-form:first').clone();

        new_form.find('input, select').each(function () {
            let name = $(this).attr('name').replace(/\d+/, form_idx);
            let id = $(this).attr('id').replace(/\d+/, form_idx);
            $(this).attr({ 'name': name, 'id': id }).val('');
        });

        let current_row = $('#ingredient-forms .row').last();
        if (current_row.children().length >= 4) {
            current_row = $('<div class="row"></div>').appendTo('#ingredient-forms');
        }

        new_form.appendTo(current_row);

        form_idx++;
        console.log(form_idx)
        updateManagementForm(form_idx);
    });

    function updateManagementForm(count) {
        $('#id_ingredients-TOTAL_FORMS').val(count);
    }
    });
</script>
{% endblock %}
