{% extends 'main/main.html' %}
{% load static %}
{% block contant %}
<style>
    .small-td {
        width: 15%;
    }

    .th {
        background-color: #6CC3DA !important;
        color: white !important;
        font-size: 1vw !important;
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        z-index: 2;
        text-align-last: center;
    }

    .price-input {
        padding: 3px !important;
        border-color: black 20px;
        font-size: larger;
    }

    #table-body {
        font-size: 0.9vw !important;
    }

    .search-container {
        display: inline-block;
        /* margin-left: 10px; */
    }

    .table-responsive {
        direction: rtl;
    }

    .form-control-sm {
        border-color: white !important;
    }

    .btn-arrow {
        background-color: #FF8A00;
        color: white;
        width: 1%;
        height: 1%;
        padding: 1%;
    }
    /* Styles to reduce row height */
    .table-striped td {
        padding: 4px !important;
        /* Adjust the padding as needed */
        font-size: 0.8vw;
        /* Adjust the font size if needed */
    }

    .table-striped tr {
        line-height: 1 !important;
        /* Reduce the line height */
    }
</style>
<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold pt-3 mb-4">
        <span class="text-muted fw-light">رسپی/</span> گزارش فروش روزانه
    </h4>
    <div class="card mb-4" style="background-color: #c1e4ea; box-shadow: none;">
        <div class="card-header" style="margin-inline: 60px;">
            <a href="{% url 'recipe:upload_file' %}" class="btn btn-primary" style="float: left;"> آپلود فایل</a>
            <button class="btn-arrow btn" id="prevDayBtn"><< </button>
            <input class='form-control-sm date' style="text-align: center;" type="text" id="date" value="{{ jalali_date }}"/>
            <button class="btn-arrow btn" id="nextDayBtn">>></button>
            <div id="datatable_filter" class="form-control-sm search-container">
                <input type="search" id="search-box" placeholder="جستجو" class="form-control form-control-sm">
            </div>
        </div>
        <div class="card-body">
            <div class="card mb-4" style="margin-inline: 60px; box-shadow: none;">
                <div class="card-body">
                    <div class="table-responsive">
                        {% if file %}
                        <table id="datatable" class="table table-striped text-center">
                            <thead class="table-light">
                                <tr>
                                    <th class="th">ردیف</th>
                                    <th class="th">کد کالا</th>
                                    <th class="th">نام کالا</th>
                                    <th class="th">تعداد</th>
                                </tr>
                            </thead>
                            <tbody id="table-body">
                                {% for recipe in file.recipe_prices %}
                                <tr>
                                    <td class="small-td">{{ forloop.counter }}</td>
                                    <td class="small-td">{{ recipe.code }}</td>
                                    <td class="large">{{ recipe.product_name }}</td>
                                    <td class="large">{{ recipe.count }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% else %}
                        <p>اطلاعاتی برای تاریخ مورد نظر یافت نشد</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'vendor/js/jquery.min.js' %}"></script>

    <script src="{% static 'vendor/js/dataTables.min.js' %}"></script>
    
    <link rel="stylesheet" href="{% static 'css/persianDatepicker-default.css' %}" />
    <script src="{% static 'js/persianDatepicker.min.js' %}"></script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var dateInput = document.getElementById('date');
            var prevDayBtn = document.getElementById('prevDayBtn');
            var nextDayBtn = document.getElementById('nextDayBtn');

            // چک کردن مقدار اولیه تاریخ و تنظیم مقدار پیش‌فرض اگر تاریخی انتخاب نشده باشد
            if (!dateInput.value) {
                dateInput.value = new Date().toISOString().slice(0, 10); // تنظیم مقدار امروز
            }

            function goToSelectedDate() {
                var selectedDate = dateInput.value;
                var url = "/recipe/salereport/" + selectedDate + "/";
                window.location.href = url;
            }

            prevDayBtn.addEventListener('click', function () {
                var currentDate = new Date(dateInput.value);
                currentDate.setDate(currentDate.getDate() - 1);
                dateInput.value = currentDate.toISOString().slice(0, 10);
                goToSelectedDate();
            });

            nextDayBtn.addEventListener('click', function () {
                var currentDate = new Date(dateInput.value);
                currentDate.setDate(currentDate.getDate() + 1);
                dateInput.value = currentDate.toISOString().slice(0, 10);
                goToSelectedDate();
            });

            dateInput.addEventListener('change', goToSelectedDate);


            var currentUrl = window.location.href;
            var currentDateStr = currentUrl.split('/').pop().slice(0, 10);
            var dateParts = currentDateStr.split('-');
            var currentDate = new Date(parseInt(dateParts[0]), parseInt(dateParts[1]) - 1, parseInt(dateParts[2]));

            nextDayBtn.addEventListener('click', function () {
                currentDate.setDate(currentDate.getDate() + 1);
                var nextDateStr = currentDate.toISOString().slice(0, 10);
                var url = "/recipe/salereport/" + nextDateStr + "/";
                window.location.href = url;
            });


            // Function to format the number
            function formatNumber(input) {
                var value = input.value.replace(/,/g, '');
                if (value) {
                    input.value = parseFloat(value).toLocaleString('en-US');
                }
            }

            // Select all price input fields
            var priceInputs = document.querySelectorAll('.price-input');

            // Format the price inputs on page load
            priceInputs.forEach(function (input) {
                formatNumber(input);
            });

            // Add event listeners to format the numbers as the user types
            priceInputs.forEach(function (input) {
                input.addEventListener('input', function () {
                    formatNumber(input);
                });

                input.addEventListener('blur', function () {
                    formatNumber(input);
                });
            });
        });
        $("#date").persianDatepicker({
                showGregorianDate: true,
                formatDate: "YYYY-MM-DD",
                onSelect: function () { 
                    var selectedDate = document.getElementById('date').value;
                    console.log(selectedDate)
                    var url = "/record/consumptionreport/" + selectedDate + "/";
                    window.location.href = url;            
                }, 
            });
    </script>
    <script>
        $(document).ready(function () {
            var table = $('#datatable').DataTable({
                paging: false,
                dom: 'lrtip', // remove the default search box
                fixedHeader: {
                    header: true,
                    footer: true
                },
                paging: false,
                scrollCollapse: true,
                scrollX: true,
                scrollY: 380
            });
            $('#search-box').on('keyup', function () {
                table.search(this.value).draw();
            });
            $('.dataTables_info').css('display', 'none');
        });
    </script>
</div>
{% endblock %}