{% extends 'main/main.html' %}
{% load static %}
{% block contant %}
<style>
    [dir=rtl] .timeline:not(.timeline-center) .timeline-item{
        border-right: 0px !important;
    }
</style>
<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold pt-3 mb-4">
        <span class="text-muted fw-light">داشبورد/</span> سلام {{ request.user.get_full_name }}
    </h4>
    <div class="card mb-4" style="background-color: #c1e4ea; box-shadow: none;">
        <!-- <div class="card-header" style="margin-inline: 60px;"> -->
            <!-- <h4>تاریخ امروز: {{jalali_date}} 
            </h4> -->
        <!-- </div> -->
        <div class="card-body">
            <div class="row">
                <div class="col-6 col-lg-6">
                    <div class="card" style="box-shadow: none;">
                        <!-- <div class="card-header">
                            <h5>فعالیت‌های داشبورد</h5>
                        </div> -->
                        <div class="card-body pt-4 pb-2 mt-2">
                            <ul class="timeline card-timeline mb-0">
                                <li class="timeline-item timeline-item-transparent mb-4">
                                    <div class="d-flex align-items-center">
                                        {% if not last_entry_in_today %}
                                        <span class="large mdi mdi-timeline-remove-outline mdi-36px me-2"></span>
                                        {% else %}
                                        <span class="large mdi mdi-timeline-check-outline mdi-36px me-2"></span>
                                        {% endif %}
                                        <h6 class="fw-semibold mb-0">ثبت روزانه ورودی انبار</h6>
                                    </div>
                                </li>
                                <li class="timeline-item timeline-item-transparent mb-4">
                                    <div class="d-flex align-items-center">
                                        {% if not last_entry_out_today %}
                                        <span class="large mdi mdi-timeline-remove-outline mdi-36px me-2"></span>
                                        {% else %}
                                        <span class="large mdi mdi-timeline-check-outline mdi-36px me-2"></span>
                                        {% endif %}
                                        <h6 class="fw-semibold mb-0">ثبت روزانه خروجی انبار</h6>
                                    </div>
                                </li>
                                <li class="timeline-item timeline-item-transparent mb-4">
                                    <div class="d-flex align-items-center">
                                        {% if not recent_claims_debts %}
                                        <span class="large mdi mdi-timeline-remove-outline mdi-36px me-2"></span>
                                        {% else %}
                                        <span class="large mdi mdi-timeline-check-outline mdi-36px me-2"></span>
                                        {% endif %}
                                        <h6 class="fw-semibold mb-0">گزارشات مطالبات بدهی</h6>
                                    </div>
                                </li>
                                <li class="timeline-item timeline-item-transparent  mb-4">
                                    <div class="d-flex align-items-center">
                                        {% if not last_sale_info_today %}
                                        <span class="large mdi mdi-timeline-remove-outline mdi-36px me-2"></span>
                                        {% else %}
                                        <span class="large mdi mdi-timeline-check-outline mdi-36px me-2"></span>
                                        {% endif %}
                                        <h6 class="fw-semibold mb-0">ثبت گزارش روزانه</div>
                                </li>
                                <li class="timeline-item timeline-item-transparent  mb-4">
                                    <div class="d-flex align-items-center">
                                        {% if not last_price_update_recent %}
                                        <span class="large mdi mdi-timeline-remove-outline mdi-36px me-2"></span>
                                        {% else %}
                                        <span class="large mdi mdi-timeline-check-outline mdi-36px me-2"></span>
                                        {% endif %}
                                        <h6 class="fw-semibold mb-0">بروزرسانی قیمت‌ها</h6>
                                    </div>
                                </li>
                                 <li class="timeline-item timeline-item-transparent  mb-4">
                                    <div class="d-flex align-items-center">
                                        {% if not last_MonthlyReport_update_recent %}
                                        <span class="large mdi mdi-timeline-remove-outline mdi-36px me-2"></span>
                                        {% else %}
                                        <span class="large mdi mdi-timeline-check-outline mdi-36px me-2"></span>
                                        {% endif %}
                                        <h6 class="fw-semibold mb-0">ثبت گزارشات حسابداری</h6>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-6 col-lg-6">
                    <div class="card" style="box-shadow: none;">
                        <div class="card-header">
                            <h5>رفتن به ...</h5>
                        </div>
                        <div class="card-body pt-4 pb-2 mt-2">
                            <ul class="timeline card-timeline mb-0">
                                <div class="timeline-event">
                                    <div class="timeline-header">
                                        <a href="{% url 'repository:in_repository' today_date %}" class="mb-4 fw-semibold btn btn-primary waves-effect waves-light">
                                            ثبت ورودی انبار
                                        </a>
                                    </div>
                                </div>
                                <div class="timeline-event">
                                    <div class="timeline-header mb-1">
                                        <a href="{% url 'repository:out_repository' today_date %}" class="mb-4 fw-semibold btn btn-primary waves-effect waves-light">
                                            ثبت خروجی انبار
                                        </a>
                                    </div>
                                </div>
                                <div class="timeline-event">
                                    <div class="timeline-header mb-1">
                                        <a href="{% url 'recipe:salereport' today_date %}" class="mb-2 fw-semibold btn btn-primary waves-effect waves-light">
                                            ثبت اطلاعات فروش
                                        </a>
                                    </div>
                                </div>
                                <div class="timeline-event">
                                    <div class="timeline-header mt-4">
                                        <a href="{% url 'foodstuff:add_price' today_date %}" class="mb-4 fw-semibold btn btn-primary waves-effect waves-light">
                                            ثبت قیمت‌ مواد اولیه
                                        </a>
                                    </div>
                                </div>
                            </ul>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</div>
{% endblock %}
