{% load static %}
<!DOCTYPE html>
<html lang="fa" class="light-style layout-navbar-fixed layout-menu-fixed" dir="rtl" data-theme="theme-default"
    data-assets-path="{% static '' %}" data-template="vertical-menu-template">

<head>
    <meta charset="utf-8" />
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
    <title>رستوران احسان</title>
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="img/favicon/favicon.ico" />
    <!-- Icons -->
    <link rel="stylesheet" href="{% static 'vendor/fonts/materialdesignicons.css' %}" />
    <!-- Core CSS -->
    <link rel="stylesheet" href="{% static 'vendor/css/rtl/core.css' %}" class="template-customizer-core-css" />
    <link rel="stylesheet" href="{% static 'vendor/css/rtl/theme-default.css' %}"
        class="template-customizer-theme-css" />
    <link rel="stylesheet" href="{% static 'css/demo.css' %}" />
    <link rel="stylesheet" href="{% static 'vendor/fonts/IRANSans.css' %}" />
    <!-- Vendors CSS -->
    <link rel="stylesheet" href="{% static 'vendor/libs/perfect-scrollbar/perfect-scrollbar.css' %}" />
    <link rel="stylesheet" href="{% static 'vendor/libs/node-waves/node-waves.css' %}" />
    <link rel="stylesheet" href="{% static 'vendor/libs/typeahead-js/typeahead.css' %}" />
    <link rel="stylesheet" href="{% static 'vendor/libs/datatables-bs5/datatables.bootstrap5.css' %}" />
    <link rel="stylesheet" href="{% static 'vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.css' %}" />
    <link rel="stylesheet" href="{% static 'vendor/libs/datatables-checkboxes-jquery/datatables.checkboxes.css' %}" />
    <link rel="stylesheet" href="{% static 'vendor/libs/datatables-buttons-bs5/buttons.bootstrap5.css' %}" />
    <link rel="stylesheet" href="{% static 'vendor/libs/flatpickr/flatpickr.css' %}" />
    <!-- Row Group CSS -->
    <!-- <link rel="stylesheet" href="{% static 'vendor/libs/datatables-rowgroup-bs5/rowgroup.bootstrap5.css' %}" /> -->
    <!-- Form Validation -->
    <link rel="stylesheet" href="{% static 'vendor/libs/formvalidation/dist/css/formValidation.min.css' %}" />

    <!-- Page CSS -->

    <!-- Helpers -->
    <script src="{% static 'vendor/js/helpers.js' %}"></script>
    <script src="{% static 'js/config.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.1.0-beta.1/js/select2.min.js"></script>

</head>
<style>



    /* .container-xxl .flex-grow-1 .container-p-y {
        font-weight: bold !important;
    } */
    html, body {
    height: 100%;
    margin: 0;
}

.container-xxl {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.card-body {
    flex-grow: 1;
    overflow-y: auto;
    box-shadow: none;
}

    .curved-border {
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        margin-top: 80px;
        /* Adjust margin-top as needed */
        margin-bottom: 60px;
        /* Adjust margin-bottom as needed */
        margin-left: 40px;
        padding-right: 10px;
        line-height: 1.5vw;
        position: relative;
        z-index: 10;
    }

    .app-brand {
        justify-content: center;
    }

    .menu-link div {
        color: #fff;
        font-weight: bold;
        font-size: 0.9vw !important;
    }

    .menu-text {
        color: #fff !important;
    }

    .avatar-container {
        text-align: center;
        margin-top: -50px;
        /* Adjust the negative margin as needed */
    }

    .avatar {
        width: 6rem;
        /* Adjust the width of the avatar */
        height: 6rem;
        /* Adjust the height of the avatar */
        border-radius: 50%;
        /* Make the avatar circular */
    }

    .logout-btn-wrapper {
        position: absolute;
        bottom: 0;
        left: 0 !important;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .logout-btn-wrapper button {
        width: 120%;
        height: 3rem;
    }

    .menu-link div img {
        margin-left: 5px;
    }

    .logout-btn-wrapper button a div img {
        margin-right: 20px;
    }

    .layout-menu {
        overflow-y: auto;
    }
</style>

<body>
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
        <div class="layout-container">
            <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme curved-border"
                style="background: #69C0D7 !important;">
                <div class="avatar-container">
                    <img src="{% static 'img/avatars/21.png' %}" class="avatar">
                </div>
                <div class="app-brand demo">
                    <a href="#" class="app-brand-link">
                        <span class="menu-text">{{user.username}}</span>
                        </br>
                        <span class="menu-text ms-2">خوش آمدید!</span>
                    </a>
                </div>
                <li class="menu-item  {% if request.resolver_match.view_name == 'dashboard' %} active {% endif %}">
                    <a href="{% url 'dashboard' %}" class="menu-link">
                        <div>
                            <img src="{% static 'img/icons/menu/briefcase.png' %}" alt="Dashboard Icon" width="20"
                                height="20">
                            داشبورد
                        </div>
                    </a>
                </li>
                <li
                    class="menu-item{% if request.resolver_match.view_name == 'recipe:recipe_list' %} active {% endif %}">
                    <a href="{% url 'recipe:recipe_list' %}" class="menu-link">
                        <div>
                            <img src="{% static 'img/icons/menu/dashboard.png' %}" alt="Dashboard Icon" width="20"
                                height="20">
                            رسپی
                        </div>
                    </a>
                </li>
                <li class="menu-item {% if request.resolver_match.view_name == 'repository:in_repository' or request.resolver_match.view_name == 'repository:out_repository' %} active {% endif %}"
                    id="menuSubmitBtn">
                    <a href="#" class="menu-link" id="dynamicMenuLinkRepository">
                        <div>
                            <img src="{% static 'img/icons/menu/anbar.png' %}" alt="Dashboard Icon" width="20"
                                height="20">
                            انبار
                        </div>
                    </a>
                </li>
                <li class="menu-item {% if request.resolver_match.view_name == 'foodstuff:add_price' %} active {% endif %}"
                    id="menuSubmitBtn">
                    <a href="#" class="menu-link" id="dynamicMenuLinkFoodstuff">
                        <div>
                            <img src="{% static 'img/icons/menu/commitdata.png' %}" alt="Dashboard Icon" width="20"
                                height="20">
                            ثبت اطلاعات اولیه
                        </div>
                    </a>
                </li>
                <li class="menu-item {% if request.resolver_match.view_name == 'recipe:salereport' %} active {% endif %}">
                    <a href="#" id="dynamicMenuLinkRecipeSale"  class="menu-link">
                        <div>
                            <img src="{% static 'img/icons/menu/daysell.png' %}" alt="Dashboard Icon" width="20"
                                height="20">
                                ثبت گزارش فروش روزانه
                        </div>
                    </a>
                </li>
            {% if user.groups.all.0.name != 'hall_manager' %}
                <li class="menu-item {% if 'record/report' in request.path %} active {% endif %}">
                    <a href="#"  id="dynamicMenuLinkMonthReport" class="menu-link">
                        <div>
                            <img src="{% static 'img/icons/menu/commitreportmoney.png' %}" alt="Dashboard Icon"
                                width="20" height="20">
                            ثبت گزارشات حسابداری
                        </div>
                    </a>
                </li>
            {% endif %}
            {% if user.groups.all.0.name != 'kitchen_manager' %}
                <li class="menu-item {% if request.resolver_match.view_name == 'record:claimsdebts' %} active {% endif %}">
                    <a href="#" id="dynamicMenuLinkClaimsDebts" class="menu-link">
                        <div>
                            <img src="{% static 'img/icons/menu/moneybag.png' %}" alt="Dashboard Icon" width="20"
                                height="20">
                            ثبت مطالبات و بدهی
                        </div>
                    </a>
                </li>
                {% endif %}
                <li class="menu-item {% if request.resolver_match.view_name == 'record:consumptionreport' %} active {% endif %}">
                    <a href="#" id="dynamicMenuLinkConsumptionReport" class="menu-link">
                        <div>
                            <img src="{% static 'img/icons/menu/masrafreport.png' %}" alt="Dashboard Icon" width="20"
                                height="20">
                            گزارش مصرف
                        </div>
                    </a>
                </li>
                <li class="menu-item {% if 'record/chart' in request.path %} active {% endif %}">
                    <a href="#"  id="dynamicMenuLinkreportchart" class="menu-link">
                        <div>
                            <img src="{% static 'img/icons/menu/commitreportmoney.png' %}" alt="Dashboard Icon"
                                width="20" height="20">
                            گزارشات حسابداری
                        </div>
                    </a>
                </li>
                <li class="menu-item {% if request.resolver_match.view_name == 'repository:total_inventory' %} active {% endif %}">
                    <a href="{% url 'repository:total_inventory' %}" class="menu-link">
                        <div>
                            <img src="{% static 'img/icons/menu/mojodianbar.png' %}" alt="Dashboard Icon" width="20"
                                height="20">
                            گزارش موجودی انبار
                        </div>
                    </a>
                </li>
                {% if user.groups.all.0.name != 'accountants' %}
                <li class="menu-item">
                    <a href="cards-actions.html" class="menu-link">
                        <div>
                            <img src="{% static 'img/icons/menu/reserve.png' %}" alt="Dashboard Icon" width="20"
                                height="20">
                            رزرو
                        </div>
                    </a>
                </li>
                {% endif %}
                <div class="logout-btn-wrapper">
                    <button class="btn btn-primary">
                        <a href="{% url 'logout' %}" class="menu-link">
                            <div>خروج از حساب کاربری</div>
                            <div>
                                <img src="{% static 'img/icons/menu/logout.png' %}" alt="Dashboard Icon" width="20"
                                    height="20">
                            </div>
                        </a>
                    </button>
                </div>
            </aside>
            <!-- / Menu -->

            <!-- Layout container -->
            <div class="layout-page">
                <!-- Navbar -->

                <!-- / Navbar -->

                <!-- Content wrapper -->
                <div class="content-wrapper">
                    {% block contant %}
                    {% endblock %}
                </div>
                <!-- / Layout page -->
            </div>
        </div>
        <!-- / Layout wrapper -->
        <!-- Core JS -->
        <!-- build:js assets/vendor/js/core.js -->
        <script src="{% static 'vendor/libs/jquery/jquery.js' %}"></script>
        <script src="{% static 'vendor/libs/popper/popper.js' %}"></script>
        <script src="{% static 'vendor/js/bootstrap.js' %}"></script>
        <script src="{% static 'vendor/libs/perfect-scrollbar/perfect-scrollbar.js' %}"></script>
        <script src="{% static 'vendor/libs/node-waves/node-waves.js' %}"></script>

        <script src="{% static 'vendor/libs/hammer/hammer.js' %}"></script>
        <script src="{% static 'vendor/libs/i18n/i18n.js' %}"></script>
        <script src="{% static 'vendor/libs/typeahead-js/typeahead.js' %}"></script>

        <script src="{% static 'vendor/js/menu.js' %}"></script>
        <!-- endbuild -->

        <!-- Vendors JS -->
        <script src="{% static 'vendor/libs/datatables-bs5/datatables-bootstrap5.js' %}"></script>
        <!-- Flat Picker -->
        <script src="{% static 'vendor/libs/moment/moment.js' %}"></script>
        <script src="{% static 'vendor/libs/jdate/jdate.js' %}"></script>
        <script src="{% static 'vendor/libs/flatpickr/flatpickr-jdate.js' %}"></script>
        <script src="{% static 'vendor/libs/flatpickr/fa-jdate.js' %}"></script>
        <!-- Form Validation -->
        <script src="{% static 'vendor/libs/formvalidation/dist/js/FormValidation.min.js' %}"></script>
        <script src="{% static 'vendor/libs/formvalidation/dist/js/plugins/Bootstrap5.min.js' %}"></script>
        <script src="{% static 'vendor/libs/formvalidation/dist/js/plugins/AutoFocus.min.js' %}"></script>

        <!-- Main JS -->
        <script src="{% static 'js/main.js' %}"></script>

        <!-- Page JS -->
        {% block pagejs %}
        {% endblock %}
        <!-- <script src="{% static 'js/tables-datatables-basic.js' %}"></script> -->
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                // دریافت تاریخ امروز
                var today = new Date();
                var year = today.getFullYear();
                var month = ('0' + (today.getMonth() + 1)).slice(-2); // اضافه کردن صفر در صورت نیاز
                var day = ('0' + today.getDate()).slice(-2); // اضافه کردن صفر در صورت نیاز

                // ساختن تاریخ به فرمتی که مورد نیاز است
                var formattedDate = year + '-' + month + '-' + day;
                var formattedDateMonthReport = year + '/' + month ;
                

                // ساختن URL جدید با تاریخ امروز
                var newUrlFoodstufd = '{% url "foodstuff:add_price" "PLACEHOLDER_DATE" %}'.replace('PLACEHOLDER_DATE', formattedDate);
                var newUrlRepository = '{% url "repository:in_repository" "PLACEHOLDER_DATE" %}'.replace('PLACEHOLDER_DATE', formattedDate);
                var newUrlRecipeSale = '{% url "recipe:salereport" "PLACEHOLDER_DATE" %}'.replace('PLACEHOLDER_DATE', formattedDate);
                var newUrlMonthReport = '/record/report/' + year + '-' + month + '-' + day ;
                var newUrlClaimsDebts =  '{% url "record:claimsdebts" "PLACEHOLDER_DATE" %}'.replace('PLACEHOLDER_DATE', formattedDate);
                var newUrlConsumptionReport =  '{% url "record:consumptionreport" "PLACEHOLDER_DATE" %}'.replace('PLACEHOLDER_DATE', formattedDate);
                var newUrlReportchart =  '{% url "record:reportchart" "PLACEHOLDER_DATE" %}'.replace('PLACEHOLDER_DATE', formattedDate);
                var newUrlMonthSale =  '{% url "record:monthsale" "PLACEHOLDER_DATE" %}'.replace('PLACEHOLDER_DATE', formattedDate);
                
                // پیدا کردن المان لینک و به روزرسانی href آن
                var menuLinkFoodstuff = document.getElementById('dynamicMenuLinkFoodstuff');
                var menuLinkRepository = document.getElementById('dynamicMenuLinkRepository');
                var menuLinkRecipeSale = document.getElementById('dynamicMenuLinkRecipeSale');
                var menuLinkMonthReport = document.getElementById('dynamicMenuLinkMonthReport');
                var menuLinkClaimsDebts = document.getElementById('dynamicMenuLinkClaimsDebts');
                var menuLinkConsumptionReport = document.getElementById('dynamicMenuLinkConsumptionReport');
                var menuLinkReportChart = document.getElementById('dynamicMenuLinkreportchart');
                var menuLinkMonthSale = document.getElementById('dynamicmenuLinkMonthSale');
                
                
                if (menuLinkFoodstuff) {
                    menuLinkFoodstuff.href = newUrlFoodstufd;
                }
                if (menuLinkRepository) {
                    menuLinkRepository.href = newUrlRepository;
                }
                if (menuLinkRecipeSale) {
                    menuLinkRecipeSale.href = newUrlRecipeSale;
                }
                if (menuLinkMonthReport) {
                    menuLinkMonthReport.href = newUrlMonthReport;
                }
                if (menuLinkClaimsDebts) {
                    menuLinkClaimsDebts.href = newUrlClaimsDebts;
                }
                if (menuLinkConsumptionReport) {
                    menuLinkConsumptionReport.href = newUrlConsumptionReport;
                }
                if (menuLinkReportChart) {
                    menuLinkReportChart.href = newUrlReportchart;
                }
                if (menuLinkMonthSale) {
                    menuLinkMonthSale.href = newUrlMonthSale;
                }
                
            });
        </script>
</body>

</html>

<!-- beautify ignore:end -->