{% extends 'main/main.html' %}
{% load static %}
{% block contant %}
<!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> -->
<script src="{% static 'vendor/js/jquery.min.js' %}"></script>

<style>
  .th {
    background-color: #6CC3DA !important;
    color: white !important;
    font-size: 1vw !important;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 2;
    text-align-last: center;
    letter-spacing: 0px !important;
  }

  .th span {
    font-size: 10px !important;
  }

  .bt-out {
    background-color: #c1e4ea;
    padding: 30px;
    margin-bottom: -30px;
    font-weight: bold;
    font-size: 1vw;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: -15px;
    width: 100%;
    text-align: center;
  }

  .bt-out a {
    color: black !important;
  }

  .bt-in {
    padding: 30px;
    margin-bottom: -30px;
    font-weight: bold;
    font-size: 1vw;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
    text-align: center;
  }

  .bt-in a {
    color: black !important;
  }
  .btn-arrow {
    background-color: #FF8A00;
    color: white;
    width: 1%;
    height: 1%;
    padding: 1%;
  }
  .card_head_title{
    font-size: 1vw;
    color: #c1e4ea;
    padding: 5px;
    background: #2CA9C9 !important;
  }
</style>
<div class="container-xxl flex-grow-1 container-p-y">
  <h4 class="fw-bold pt-3 mb-4">
    <span class="text-muted fw-light">گزارشات/</span> ثبت حسابداری
  </h4>
  <form method="post">
    {% csrf_token %}
    <div class="card mb-4" style="background-color: #c1e4ea; box-shadow: none;margin-top:-20px">
      <div class="card-header" style="margin-inline: 60px;">
        <button class="btn btn-primary" style="float: left;" type="submit">ذخیره</button>
        <button class="btn-arrow btn" id="prevDayBtn"><<</button>
        <input class='form-control-sm date' style="text-align: center;" type="text" id="date" value="{{jalali_date}}" placeholder="{{date}}"/>
        <button class="btn-arrow btn" id="nextDayBtn">>></button>
      </div>
      <div class="row">
        <div class="col-sm text-center">
          <div class="card mb-4 p-3" style="margin-inline: 60px; box-shadow: none;">
            <div class="card_head_title">
              فروش
            </div>
            <div class="mt-3 p-4">
              <div class="row mt-2">
                <div class="col-sm text-center">
                  {{ form.sales_hall.label_tag }}
                </div>
                <div class="col-sm text-center">
                  {{ form.sales_hall }}
                </div>
              </div>
              <div class="row mt-2">
                <div class="col-sm text-center">
                  {{ form.sales_takeaway.label_tag }}
                </div>
                <div class="col-sm text-center">
                  {{ form.sales_takeaway }}
                </div>
              </div>
              <div class="row mt-2">
                <div class="col-sm text-center">
                  {{ form.sales_snappfood.label_tag }}
                </div>
                <div class="col-sm text-center">
                  {{ form.sales_snappfood }}
                </div>
              </div>
              <div class="row mt-2">
                <div class="col-sm text-center">
                  {{ form.sales_company.label_tag }}
                </div>
                <div class="col-sm text-center">
                  {{ form.sales_company }}
                </div>
              </div>
              <div class="row mt-2">
                <div class="col-sm text-center">
                  {{ form.sales_special_company.label_tag }}
                </div>
                <div class="col-sm text-center">
                  {{ form.sales_special_company }}
                </div>
              </div>
              <div class="row mt-2">
                <div class="col-sm text-center">
                  {{ form.sales_charity1.label_tag }}
                </div>
                <div class="col-sm text-center">
                  {{ form.sales_charity1 }}
                </div>
              </div>
              <div class="row mt-2">
                <div class="col-sm text-center">
                  {{ form.sales_charity.label_tag }}
                </div>
                <div class="col-sm text-center">
                  {{ form.sales_charity }}
                </div>
              </div>
              <div class="row mt-2">
                <div class="col-sm text-center">
                  {{ form.sales_misc.label_tag }}
                </div>
                <div class="col-sm text-center">
                  {{ form.sales_misc }}
                </div>
              </div>
              <div class="row mt-2">
                <div class="col-sm text-center">
                  {{ form.total_sales.label_tag }}
                </div>
                <div class="col-sm text-center">
                  {{ form.total_sales }}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm text-center">
          <div class="card mb-4 p-3" style="margin-inline: 60px; box-shadow: none;">
            <div class="card_head_title">هزینه</div>
            <div class="mt-3 p-4">
              <div class="row mt-2">
                <div class="col-sm text-center">
                  {{ form.rent.label_tag }}
                </div>
                <div class="col-sm text-center">
                  {{ form.rent }}
                </div>
              </div>
              <div class="row mt-2">
                <div class="col-sm text-center">
                  {{ form.salaries.label_tag }}
                </div>
                <div class="col-sm text-center">
                  {{ form.salaries }}
                </div>
              </div>
              <div class="row mt-2">
                <div class="col-sm text-center">
                  {{ form.maintenance.label_tag }}
                </div>
                <div class="col-sm text-center">
                  {{ form.maintenance }}
                </div>
              </div>
              <div class="row mt-2">
                <div class="col-sm text-center">
                  {{ form.hall.label_tag }}
                </div>
                <div class="col-sm text-center">
                  {{ form.hall }}
                </div>
              </div>
              <div class="row mt-2">
                <div class="col-sm text-center">
                  {{ form.delivery.label_tag }}
                </div>
                <div class="col-sm text-center">
                  {{ form.delivery }}
                </div>
              </div>
              <div class="row mt-2">
                <div class="col-sm text-center">
                  {{ form.consumables.label_tag }}
                </div>
                <div class="col-sm text-center">
                  {{ form.consumables }}
                </div>
              </div>
              <div class="row mt-2">
                <div class="col-sm text-center">
                  {{ form.misc_expenses.label_tag }}
                </div>
                <div class="col-sm text-center">
                  {{ form.misc_expenses }}
                </div>
              </div>
              <div class="row mt-2">
                <div class="col-sm text-center">
                  {{ form.total_expenses.label_tag }}
                </div>
                <div class="col-sm text-center">
                  {{ form.total_expenses }}
                </div>
              </div>
              <div class="row mt-2">
                <div class="col-sm text-center">
                  {{ form.raw_materials.label_tag }}
                </div>
                <div class="col-sm text-center">
                  {{ form.raw_materials }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card mb-4 p-3 text-center" style="margin-inline: 60px; box-shadow: none;">
        <div class="card_head_title">سود و زیان</div>
        <div class="mt-3 p-4">
          <div class="row mt-2">
            <div class="col-sm">
              <div class="row mt-2">
                <div class="col-sm text-center">
                  {{ form.monthly_profit.label_tag }}
                </div>
                <div class="col-sm text-center">
                  {{ form.monthly_profit }}
                </div>
              </div>
            </div>
            <div class="col-sm">
              <div class="row mt-2">
                <div class="col-sm text-center">
                  {{ form.profit_percentage.label_tag }}
                </div>
                <div class="col-sm text-center">
                  {{ form.profit_percentage }}
                </div>
              </div>
            </div>
            <div class="col-sm">
              <div class="row mt-2">
                <div class="col-sm text-center">
                  {{ form.cost_to_sales_ratio.label_tag }}
                </div>
                <div class="col-sm text-center">
                  {{ form.cost_to_sales_ratio }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% if form.errors %}
      <ul class="errorlist">{{ form.errors }}</ul>
    {% endif %}    
    </div>
  </form>
</div>
  <link rel="stylesheet" href="{% static 'css/persianDatepicker-default.css' %}" />
  <script src="{% static 'js/persianDatepicker.min.js' %}"></script>
  <script>
    var dateInput = document.getElementById('date');
    var prevDayBtn = document.getElementById('prevDayBtn');
    var nextDayBtn = document.getElementById('nextDayBtn');
  
    document.addEventListener('DOMContentLoaded', function () {
      if (!dateInput.value) {
        dateInput.value = '{{date}}';
      }
  
      prevDayBtn.addEventListener('click', function () {
        var placeholderValue = dateInput.getAttribute('placeholder'); // خواندن مقدار placeholder
        var dateObject = new Date(placeholderValue); // تبدیل به Date object
        dateObject.setMonth(dateObject.getMonth() - 1); // یک ماه به عقب
        dateObject.setDate(1); // تنظیم روز به 1
        var year = dateObject.getFullYear();
        var month = dateObject.getMonth() + 1; // ماه‌ها از 0 تا 11 شمرده می‌شوند، بنابراین باید یک واحد به آن اضافه کنیم
        var formattedDate = year + '-' + (month < 10 ? '0' + month : month) + '-' + '01';
        var url = "/record/report/" + formattedDate + "/";
        window.location.href = url;
      });
  
      nextDayBtn.addEventListener('click', function () {
        var placeholderValue = dateInput.getAttribute('placeholder'); // خواندن مقدار placeholder
        var dateObject = new Date(placeholderValue); // تبدیل به Date object
        dateObject.setMonth(dateObject.getMonth() + 1); // یک ماه به جلو
        dateObject.setDate(1); // تنظیم روز به 1
        var year = dateObject.getFullYear();
        var month = dateObject.getMonth() + 1; // ماه‌ها از 0 تا 11 شمرده می‌شوند، بنابراین باید یک واحد به آن اضافه کنیم
        var formattedDate = year + '-' + (month < 10 ? '0' + month : month) + '-' + '01';
  
        var url = "/record/report/" + formattedDate + "/";
        window.location.href = url;
      });
  
    });
  
    $("#date").persianDatepicker({
      showGregorianDate: true,
      formatDate: "YYYY-MM-DD",
      onSelect: function () { 
        var selectedDate = document.getElementById('date').value;
        console.log(selectedDate)
        var url = "/record/report/" + selectedDate + "/";
        window.location.href = url;            
      }, 
    });
  </script>
{% endblock %}