{% extends 'main/main.html' %}
{% load static %}
{% load humanizelib %}
{% block contant %}
<style>
    .small-td {
        width: 15%;
    }

    .th {
        background-color: #6CC3DA !important;
        color: white !important;
        font-size: 1vw !important;
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        z-index: 2;
        text-align-last: center;
    }
    .thnew {
        background-color: #FF8A00 !important;
        color: white !important;
        font-size: 1vw !important;
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        z-index: 2;
        text-align-last: center;
    }

    /* .customtable {
        font-weight: bold !important;
        font-size: large;
    } */

    .price-input {
        padding: 3px !important;
        border-color: black 20px;
        font-size: larger;
    }

    #table-body {
        font-size: 0.9vw !important;
    }

    .search-container {
        display: inline-block;
        /* margin-left: 10px; */
    }

    .table-responsive {
        direction: rtl;
    }

    .form-control-sm {
        border-color: white !important;
    }

    .btn-arrow {
        background-color: #FF8A00;
        color: white;
        width: 1%;
        height: 1%;
        padding: 1%;
    }

    #categoryFilter {
        margin-right: 20px;
    }

    /* Styles to reduce row height */
    .table-striped td {
        padding: 4px !important;
        /* Adjust the padding as needed */
        font-size: 0.8vw;
        /* Adjust the font size if needed */
    }

    .table-striped tr {
        line-height: 1.5 !important;
        /* Reduce the line height */
    }
</style>
<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold pt-3 mb-4">
        <span class="text-muted fw-light">گزارش/</span> مصرف روزانه 
    </h4>
    <div class="card mb-4" style="background-color: #c1e4ea; box-shadow: none;">
        <div class="card-header" style="margin-inline: 60px;">
            <button class="btn-arrow btn" id="prevDayBtn"><<</button>
            <input class='form-control-sm date' style="text-align: center;"  type="text" id="date" value="{{jalali_date}}" placeholder="{{date}}"/>
            <button class="btn-arrow btn" id="nextDayBtn">>></button>
            <div id="datatable_filter" class="form-control-sm search-container">
                <input type="search" id="search-box" placeholder="جستجو" class="form-control form-control-sm">
            </div>
        </div>
        <div class="card-body">
            <div class="card mb-4" style="margin-inline: 60px; box-shadow: none;">
                <div class="card-body">
                    {% if report_data %}
                    <div class="row">
                        <div class="col-md-12">
                            <table id="datatable" class="table table-striped text-center">
                                <thead class="table-light">
                                    <tr>
                                        <th class="th">عنوان</th>
                                        <th class="th">دسته بندی</th>
                                        <th class="th">رسپی</th>
                                        <th class="th">خروجی انبار</th>
                                        <th class="th">اختلاف</th>
                                        <th class="th">درصد</th>
                                        <th class="th">قیمت</th>
                                    </tr>
                                </thead>
                                <tbody id="table-body">
                                    {% for item in report_data %}
                                    <tr>
                                        <td class="large">{{ item.ingredient_name }}</td>
                                        <td>{{ item.category_name }}</td>
                                        <td>{{ item.amount|floatformat:"0"|intcomma }}</td>
                                        <td>{{ item.out_quantity }}</td>
                                        <td style="direction:ltr;">{{ item.difference|floatformat:"0" }}</td>
                                        <td style="direction:ltr;">{{ item.percentage_difference|floatformat:"0" }}%</td>
                                        <td style="direction:ltr;">{{ item.loss_amount|floatformat:"0"|intcomma }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th class="thnew large">جمع مقادیر</th>
                                        <th class="thnew"></th>
                                        <th class="thnew">{{ total_recipe_amount|floatformat:"0"|intcomma }}</th>
                                        <th class="thnew">{{ total_out_quantity }}</th>
                                        <th class="thnew" style="direction:ltr;">{{ total_difference|floatformat:"0"|intcomma }}</th>
                                        <th class="thnew" style="direction:ltr;">{{ total_percentage_difference|floatformat:"0"|intcomma }}%</th>
                                        <th class="thnew" style="direction:ltr;">{{ total_loss_amount|floatformat:"0"|intcomma }}</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                    {% else %}
                    <p>هیچ اطلاعاتی برای نمایش وجود ندارد.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'vendor/js/jquery.min.js' %}"></script>

    <script src="{% static 'vendor/js/dataTables.min.js' %}"></script>

    <link rel="stylesheet" href="{% static 'css/persianDatepicker-default.css' %}" />
    <script src="{% static 'js/persianDatepicker.min.js' %}"></script>

    <script>
        var dateInput = document.getElementById('date');
        var prevDayBtn = document.getElementById('prevDayBtn');
        var nextDayBtn = document.getElementById('nextDayBtn');

        document.addEventListener('DOMContentLoaded', function () {
        
            if (!dateInput.value) {
                dateInput.value = '{{date}}';
            }

            prevDayBtn.addEventListener('click', function () {
                var placeholderValue = dateInput.getAttribute('placeholder'); // خواندن مقدار placeholder
                var dateObject = new Date(placeholderValue); // تبدیل به Date object
                dateObject.setDate(dateObject.getDate() - 1);
                var year = dateObject.getFullYear();
                var month = dateObject.getMonth() + 1; // ماه‌ها از 0 تا 11 شمرده می‌شوند، بنابراین باید یک واحد به آن اضافه کنیم
                var day = dateObject.getDate();
                var formattedDate = year + '-' + (month < 10 ? '0' + month : month) + '-' + (day < 10 ? '0' + day : day);

                var url = "/record/consumptionreport/" + formattedDate + "/";
                window.location.href = url;
            });

            nextDayBtn.addEventListener('click', function () {
                var placeholderValue = dateInput.getAttribute('placeholder'); // خواندن مقدار placeholder
                var dateObject = new Date(placeholderValue); // تبدیل به Date object
                dateObject.setDate(dateObject.getDate() + 1);
                var year = dateObject.getFullYear();
                var month = dateObject.getMonth() + 1; // ماه‌ها از 0 تا 11 شمرده می‌شوند، بنابراین باید یک واحد به آن اضافه کنیم
                var day = dateObject.getDate();
                var formattedDate = year + '-' + (month < 10 ? '0' + month : month) + '-' + (day < 10 ? '0' + day : day);

                var url = "/record/consumptionreport/" + formattedDate + "/";
                window.location.href = url;
            });

            dateInput.addEventListener('change', goToSelectedDate);

           
            function formatNumber(input) {
                var value = input.value.replace(/,/g, '');
                if (value) {
                    input.value = parseFloat(value).toLocaleString('en-US');
                }
            }

            var priceInputs = document.querySelectorAll('.price-input');

            priceInputs.forEach(function (input) {
                formatNumber(input);
            });

            priceInputs.forEach(function (input) {
                input.addEventListener('input', function () {
                    formatNumber(input);
                });

                input.addEventListener('blur', function () {
                    formatNumber(input);
                });
            });
        });
        $("#date").persianDatepicker({
                showGregorianDate: true,
                formatDate: "YYYY-MM-DD",
                onSelect: function () { 
                    var selectedDate = document.getElementById('date').value;
                    console.log(selectedDate)
                    var url = "/record/consumptionreport/" + selectedDate + "/";
                    window.location.href = url;            
                }, 
            });
    </script>
    <script>
        $(document).ready(function () {
            var table = $('#datatable').DataTable({
                paging: false,
                dom: 'lrtip', // remove the default search box
                fixedHeader: {
                    header: true,
                    footer: true
                },
                paging: false,
                scrollCollapse: true,
                scrollX: true,
                scrollY: 380
            });
            $('#categoryFilter').on('change', function () {
                var category = $(this).val();
                table.column(1).search(category).draw();
            });
            $('#search-box').on('keyup', function () {
                table.search(this.value).draw();
            });
            $('.dataTables_info').css('display', 'none');
        });
    </script>
</div>
{% endblock %}