{% extends 'main/main.html' %}
{% load static %}
{% block contant %}
<div class="container-xxl flex-grow-1 container-p-y">
  <h4 class="fw-bold pt-3 mb-4">
    <span class="text-muted fw-light">مواد غذایی/</span> افزودن
  </h4>
  <div class="row">
    <!-- برچسب شناور (طرح حاشیه دار) -->
    <form method="post">
      {% csrf_token %}
      <div class="container mt-4">
        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-md-3">
                <div class="mt-2 mb-3">
                  <label for="stuff_name" class="stuff_name">نام
                  </label>
                  {{ form.stuff_id }}
                </div>
              </div>
              <div class="col-md-3">
                <div class="mt-2 mb-3">
                  <label for="defaultFormControlInput" class="form-label">نام
                  </label>
                  <input type="text" name="stuff_name" class="form-control" id="defaultFormControlInput"
                    placeholder="ماده غذایی" aria-describedby="defaultFormControlHelp">
                </div>
              </div>
              <div class="col-md-3">
                <div class="mt-2 mb-3">
                  <label for="largeSelect1" class="form-label">دسته بندی</label>
                  <select name="stuff_category" id="largeSelect1" class="form-select">
                    {% for category in categories %}
                    <option value="{{ category.pk }}">{{ category.cat_name }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <div class="col-md-3">
                <div class="mt-2 mb-3">
                  <label for="largeSelect2" class="form-label">واحد اندازه‌گیری</label>
                  <select name="stuff_scale" id="largeSelect2" class="form-select">
                    <option value="Weight">وزن(کیلوگرم)</option>
                    <option value="Number">(عدد)تعداد</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer text-muted">
            {{form.errors}}
            <button type="submit" class="btn btn-primary">ذخیره</button>
            <a href="#" onclick="window.history.go(-1); return false;" class="btn btn-outline-secondary">انصراف</a>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<!-- / Content -->
{% endblock %}