{% extends 'main/main.html' %}
{% load static %}
{% block contant %}
<div class="container-xxl flex-grow-1 container-p-y">
  <h4 class="fw-bold pt-3 mb-4">
    <span class="text-muted fw-light">مواد غذایی/</span> افزودن
  </h4>
  <div class="row">
    <!-- برچسب شناور (طرح حاشیه دار) -->
    <form method="post">
        {% csrf_token %}
        <div class="container mt-4">
            <div class="card mb-4">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="mt-2 mb-3">
                                <label for="defaultFormControlInput" class="form-label">نام</label>
                                {{ form.stuff_name }}
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mt-2 mb-3">
                                <label for="largeSelect1" class="form-label">دسته بندی</label>
                                {{ form.stuff_category }}
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mt-2 mb-3">
                                <label for="largeSelect2" class="form-label">واحد اندازه‌گیری</label>
                                {{ form.stuff_scale }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-muted">
                    {{ form.errors }}
                    <button type="submit" class="btn btn-primary">ذخیره</button>
                    <a href="#" onclick="window.history.go(-1); return false;" class="btn btn-outline-secondary">انصراف</a>
                </div>
            </div>
        </div>
    </form>
  </div>
</div>
<!-- / Content -->
{% endblock %}
