{% extends 'main/main.html' %}
{% load static %}
{% block contant %}
<style>
    .small-td {
        width: 15%;
    }

    .th {
        background-color: #f37575 !important;
        color: white !important;
        font-weight: bold !important;
        font-size: 1vw !important;
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        z-index: 2;
        text-align-last: center;
        letter-spacing:0px !important;
    }

    .price-input {
        padding: 3px !important;
        border-color: black 20px;
        font-size: larger;
    }
    .table-responsive table {
        direction: rtl;
    }

    .bt-out {
        background-color: #e0f0f3;
        padding: 30px;
        margin-bottom: -30px;
        font-weight: bold;
        font-size: 1vw;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        border-bottom-left-radius: -15px;
        width: 100%;
        text-align: center;
    }

    .bt-out a {
        color: black !important;
    }

    .bt-in {
        padding: 20px;
        margin-bottom: -30px;
        font-weight: bold;
        font-size: 1vw;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        width: 100%;
        text-align: center;
    }

    .bt-in a {
        color: black !important;
    }
    .search-container {
        display: inline-block;
        margin-left: 10px;
    }
    .form-control-sm{
        border-color: white !important;
    }
    .form-control-sm{
        border-color: white !important;
    }
    .btn-arrow{
        background-color: #FF8A00;
        color: white;
        width: 0.2vw;
    }
    #categoryFilter{
        margin-right: 20px;
    }
</style>
<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4">
        <span class="text-muted fw-light">انبار/</span> خروجی
    </h4>
    <div class="row mb-4" style="justify-content: center">
        <div class="col-md-6">
            <div class="bt-in">
                <a href="#" id="inputBtn">ورودی</a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="bt-out">
                <a href="#" id="outputBtn">خروجی</a>
            </div>
        </div>
    </div>
    <div class="card mb-4" style="background-color: #e0f0f3; box-shadow: none;margin-top:-20px">
        <div class="card-header" style="margin-inline: 60px;">
            <!-- <a href="{% url 'foodstuff:addfoodstuffs' %}" class="btn btn-primary" style="float: left;"> افزودن ماده
                غذایی جدید</a> -->
            <button class="btn-arrow btn" id="prevDayBtn"><<</button>
            <input class="form-control-sm" type="date" id="date" name="date" value="{{ date }}">
            <button class="btn-arrow btn" id="nextDayBtn">>></button>
            <select id="categoryFilter" class="form-control-sm">
                <option value="">همه دسته بندی ها</option>
                {% for category in categories %}
                <option value="{{ category.cat_name }}" {% if category.id in selected_category %}selected{% endif %}>
                    {{ category.cat_name }}</option>
                {% endfor %}
            </select>
            <div id="datatable_filter" class="search-container">
                <input type="search" id="search-box" placeholder="جستجو" class="form-control form-control-sm">
            </div>
        </div>
        <div class="card-body">
            <div class="card mb-4" style="margin-inline: 60px; box-shadow: none;">
                <div class="card-body">
                    <form class="form" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="type" value="{{ form.initial.type }}">
                        <div class="table-responsive">
                            <table id="datatable" class="table table-striped text-center">
                                <thead class="table-light">
                                    <tr>
                                        <th class="th">کد</th>
                                        <th class="th">دسته بندی</th>
                                        <th class="th">عنوان</th>
                                        <th class="th">مقدار خروجی</th>
                                        <th class="th">مقیاس</th>
                                        <th class="th" style="border-left: 20px !important;"></th>
                                    </tr>
                                </thead>
                                <tbody id="table-body">
                                    {% for field in form %}
                                    {% for stuff in stuffs %}
                                    {% if field.name == 'stuff_'|add:stuff.stuff_id %}
                                    <tr>
                                        <td class="large-td">{{ stuff.stuff_id }}</td>
                                        <td class="small-td">{{ stuff.stuff_category.cat_name }}</td>
                                        <td class="large-td">{{ field.label }}</td>
                                        <td class="small-td" style="text-align-last:center">
                                            <input type="text" id="{{ field.id_for_label }}" name="{{ field.name }}"
                                                value="{{ field.value }}" class="form-control price-input">
                                        </td>
                                        <td class="small-td">{{ stuff.get_stuff_scale_display }}</td>
                                        <td class="">
                                            <a href="{% url 'foodstuff:edit_stuff' stuff.id %}"><i
                                                    class="mdi mdi-pencil"></i></a>
                                        </td>
                                    </tr>
                                    {% endif %}
                                    {% endfor %}
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        {{ form.errors }}
                        <button type="submit" class="btn btn-primary" style="margin-top:15px">ذخیره</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var dateInput = document.getElementById('date');
            var prevDayBtn = document.getElementById('prevDayBtn');
            var nextDayBtn = document.getElementById('nextDayBtn');

            // چک کردن مقدار اولیه تاریخ و تنظیم مقدار پیش‌فرض اگر تاریخی انتخاب نشده باشد
            if (!dateInput.value) {
                dateInput.value = new Date().toISOString().slice(0, 10); // تنظیم مقدار امروز
            }

            function goToSelectedDate() {
                var selectedDate = dateInput.value;
                var url = "/repository/out/" + selectedDate + "/";
                window.location.href = url;
            }

            prevDayBtn.addEventListener('click', function () {
                var currentDate = new Date(dateInput.value);
                currentDate.setDate(currentDate.getDate() - 1);
                dateInput.value = currentDate.toISOString().slice(0, 10);
                goToSelectedDate();
            });

            nextDayBtn.addEventListener('click', function () {
                var currentDate = new Date(dateInput.value);
                currentDate.setDate(currentDate.getDate() + 1);
                dateInput.value = currentDate.toISOString().slice(0, 10);
                goToSelectedDate();
            });

            dateInput.addEventListener('change', goToSelectedDate);

            var currentUrl = window.location.href;
            var currentDateStr = currentUrl.split('/').pop().slice(0, 10);
            var dateParts = currentDateStr.split('-');
            var currentDate = new Date(parseInt(dateParts[0]), parseInt(dateParts[1]) - 1, parseInt(dateParts[2]));

            nextDayBtn.addEventListener('click', function () {
                currentDate.setDate(currentDate.getDate() + 1);
                var nextDateStr = currentDate.toISOString().slice(0, 10);
                var url = "/repository/out/" + nextDateStr + "/";
                window.location.href = url;
            });

            // Function to format the number
            function formatNumber(input) {
                var value = input.value.replace(/,/g, '');
                if (value) {
                    input.value = parseFloat(value).toLocaleString('en-US');
                }
            }

            // Select all price input fields
            var priceInputs = document.querySelectorAll('.price-input');

            // Format the price inputs on page load
            priceInputs.forEach(function (input) {
                formatNumber(input);
            });

            // Add event listeners to format the numbers as the user types
            priceInputs.forEach(function (input) {
                input.addEventListener('input', function () {
                    formatNumber(input);
                });

                input.addEventListener('blur', function () {
                    formatNumber(input);
                });
            });
        });
    </script>
    <script src="{% static 'vendor/js/jquery.min.js' %}"></script>

    <script src="{% static 'vendor/js/dataTables.min.js' %}"></script>
     <script>
         $(document).ready(function () {
             var table = $('#datatable').DataTable({
                 paging: false,
                 dom: 'lrtip', // remove the default search box
                 fixedHeader: {
                     header: true,
                     footer: true
                 },
                 paging: false,
                 scrollCollapse: true,
                 scrollX: true,
                 scrollY: 380
             });
             $('#categoryFilter').on('change', function () {
                 var category = $(this).val();
                 table.column(1).search(category).draw();
             });
             $('#search-box').on('keyup', function () {
                 table.search(this.value).draw();
             });
             $('.dataTables_info').css('display', 'none');
         });
     </script>
     <script>
        document.addEventListener('DOMContentLoaded', function () {
            // دریافت تاریخ امروز
            var today = new Date();
            var year = today.getFullYear();
            var month = ('0' + (today.getMonth() + 1)).slice(-2); // اضافه کردن صفر در صورت نیاز
            var day = ('0' + today.getDate()).slice(-2); // اضافه کردن صفر در صورت نیاز

            // ساختن تاریخ به فرمتی که مورد نیاز است
            var formattedDate = year + '-' + month + '-' + day;

            // ساختن URL جدید با تاریخ امروز
            var newUrlRepositoryout = '{% url "repository:out_repository" "PLACEHOLDER_DATE" %}'.replace('PLACEHOLDER_DATE', formattedDate);
            var newUrlRepositoryin = '{% url "repository:in_repository" "PLACEHOLDER_DATE" %}'.replace('PLACEHOLDER_DATE', formattedDate);

            // پیدا کردن المان لینک و به روزرسانی href آن
            var menuLinkRepositoryout = document.getElementById('outputBtn');
            var menuLinkRepositoryin = document.getElementById('inputBtn');

            if (menuLinkRepositoryout) {
                menuLinkRepositoryout.href = newUrlRepositoryout;
            }
            if (menuLinkRepositoryin) {
                menuLinkRepositoryin.href = newUrlRepositoryin;
            }
        });
    </script>
</div>
{% endblock %}